body{
    font-family: 'Zen Dots', cursive; 
    text-align: center;
    background: rgb(13,13,12);
    background: radial-gradient(circle, rgba(13,13,12,0.4680845971200981) 0%, rgba(18,19,17,0.07032549347864148) 50%, rgba(22,25,21,0.23559159992121848) 85%, rgba(7,18,17,0.5269081265318627) 100%);
}

#formulaire{
    border-radius: 20px;
    padding: 20px 20px;
    /* margin-left: 30%;
    margin-right: 30%;  */
    background: rgba(216, 245, 53, 0.543); 
    background: linear-gradient(90deg, rgba(161,180,58,0.7902134486607143) 0%, rgba(172, 247, 85, 0.519) 50%, rgba(160, 246, 86, 0.712) 100%);
} 

label {
    margin-top:10px;
    display:block;
    }

label.inline {
    display:inline;
    margin-right:50px;
    }

input, textarea, select, option {
    background: linear-gradient(90deg, rgba(213, 244, 38, 0.79) 0%, rgba(137, 241, 17, 0.519) 50%, rgba(136, 249, 37, 0.712) 100%);
    }

input, textarea, select {
    padding:5px;
    border:2px solid #202227;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }

    .test{
        background: url("ecranLCDCalculette.png") no-repeat center;
        height: 200px;
        padding-top: 60px;
        font-size: 2em;
        border-radius: 15px;
        /* background: rgb(161,180,58);
        background: linear-gradient(90deg, rgba(48, 10, 172, 0.79) 0%, rgba(93,253,29,0.5185047651873249) 50%, rgba(69,252,244,0.34483529740021013) 100%);
        border-radius: 20px;
        padding: 20px 20px;
        margin-left: 30%;
        margin-right: 30%;  */
    }